:root {
  --gray: #325379;
  --blue: #4974be;
  --orange: #efa73e;
  --red: #bb2757;
  --purple: #912e83;
  --green: #52b469;
  --white: #e3dbbd;

  --body-bg: #32383a;
  --btn-bg: #586757aa;
  --board-bg: #102f47;

  --game-width: 380px;
  --game-height: 580px;

  --effects-bar-thickness: 4px;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--body-bg);
  color: var(--white);
}

body {
  touch-action: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background-color: var(--body-bg);
  color: var(--white);
  font-family: -apple-system, blinkmacsystemfont,
    'Segoe UI', 'Noto Sans', helvetica, arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'
  ;
}

small {
  font-size: .9rem;
  opacity: .9;

  &.hint {
    display: block;
    line-height: 1rem;
    opacity: .5;
  }
}

button {
  width: 100%;
  height: 48px;
  cursor: pointer;
  margin: .25rem 0;
  background: var(--btn-bg);
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  min-width: 256px;
  backdrop-filter: blur(4px) contrast(1.5);
  -webkit-backdrop-filter: blur(4px) contrast(1.5);
}

#main {
  position: relative;
}

#game-container {
  position: relative;
  border-radius: 16px;
  width: var(--game-width);
  height: var(--game-height);
  background-color: var(--board-bg);
  border: 2px solid #333;
  overflow: hidden;
}

#box-count {
  --width: calc(3 * var(--effects-bar-thickness));

  position: absolute;
  top: 0;
  height: var(--game-height);
  width: var(--width);
  right: calc(-1 * var(--width));

  .box-count-marker {
    position: relative;
    width: var(--width);
    height: calc(2 * var(--effects-bar-thickness));
    background-color: var(--body-bg);
    border-radius: var(--effects-bar-thickness);
    margin-top: calc(.2 * var(--game-height) - var(--effects-bar-thickness));
  }

  #box-count-indicator {
    position: absolute;
    top: 0;
    margin-left: calc((var(--width) - var(--effects-bar-thickness)) / 2);
    height: var(--game-height);
    background-color: var(--btn-bg);
    width: var(--effects-bar-thickness);
    border-radius: var(--effects-bar-thickness);
    transform-origin: bottom;
    transition: transform .15s;
  }
}

#score {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 4px 0;
  margin-top: -2rem;
}

#game-area {
  width: 100%;
  height: 100%;
}

#menu, #help {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  z-index: 2;

  &>div {
    max-width: var(--game-width);
  }
}

#help {
  padding: 1rem;

  &>div>small {
    text-align: center;
    display: block;
  }

  #help-slides {
    display: flex;
    overflow: scroll;
    max-width: 100%;
    font-size: 1.2rem;
    scroll-snap-type: x mandatory;
    gap: 2rem;
  
    &>div {
      width: 100%;
      flex-shrink: 0;
      scroll-snap-align: center;
    }
  }
}

.color {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: .25rem;
  margin: 0 .25rem;
  vertical-align: text-bottom;

  &.circle {
    border-radius: 50%;
  }

  &.red { background: var(--red); }
  &.blue { background: var(--blue); }
  &.orange { background: var(--orange); }
  &.purple { background: var(--purple); }
  &.green { background: var(--green); }
  &.white { background: var(--white); }
  &.gray { background: var(--gray); }
}

.combo {
  bottom: 4rem;
  display: block;
  text-align: center;
  left: 0; right: 0;
  font-size: 2rem;
  transition: opacity 3s, transform 3s;
  position: absolute;
  pointer-events:none
}

.combo.fading {
  opacity: 0;
}

#effects {
  position: relative;

  & > div {
    width: 100%;
    height: var(--effects-bar-thickness);
    transform: scaleX(0);
    transition: transform .1s;
    border-radius: var(--effects-bar-thickness);

    &#antigrav {
      background: var(--gray);
      box-sizing: border-box;
      border: 18px solid transparent;
      border-top: none;
      border-bottom: none;
    }

    &#red {
      background: var(--red);
      transition: transform 3s;
    }

    &#purple {
      background: var(--purple);
      transition: transform .2s;
    }

    &#white {
      background: var(--white);
      transition: transform 50ms;
    }
  }
}

#dots {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.05) 1px, transparent 3px);
  background-size: 6px 6px;
  z-index: 10;
  backdrop-filter: blur(0.3px) sepia(0.25) contrast(1.2);
  -webkit-backdrop-filter: blur(0.3px) sepia(0.25) contrast(1.2);
}

#menu-btn {
  z-index: 4;
  position: absolute;
}

@media screen and (max-width: 480px) {
  #menu-btn {
    position: fixed;
    bottom: 2rem;
    left: 1rem;
    right: 1rem;
    width: auto;
  }
}

@media screen and (max-height: 760px) {
  body {
    align-items: initial;
    padding-top: 1rem; 
  }

  #score {
    margin-top: auto;
  }

  #menu-btn {
    bottom: 1rem;
  }
}

@media screen and (max-height: 712px) {
  body {
    padding-top: 0;
  }

  #score {
    position: fixed;
    z-index: 2;
    text-shadow: 0 0 16px black;
    pointer-events: none;

    .color {
      box-shadow: 0 0 16px rgba(0, 0, 0, .5);
    }
  }
}
